:root {
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "UTM Avo", sans-serif;

    font-size: 12px;
    text-decoration: none;
    list-style: none;
}

/* modal layout */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    animation: fadeIn linear 0.1;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20;     /*sắp xếp cho layer overlay nằm dưới layer body*/
}

.modal__body {
    --growth-form: 0.7;
    --growth-to: 0.1;
    margin: auto;
    background-color: var(--black-color);
    position: relative;
    z-index: 30;
    border-radius: 5px;
    animation: growth linear 0.1;
}
/* END modal layout */

.auth-form {
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);
}

.auth-form__container {
    padding: 10px 32px;
}

.auth-form__container-forgetpass {
    padding: 10px 32px 22px;
}

.auth-form__header {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.login-link {
    display: flex;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
    align-items: center;
}

.register-link {
    display: flex;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
    align-items: center;
}

.error {
    color: red;
}

.have-account {
    display: flex;
    justify-content: center;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    border-color: var(--border-color);
    background-color: #dbdbdb;
    /* outline: none */
}

.auth-form__input:focus {
    border-color: #9c9c9c;
}

.btn.btn-primary-needhelp {
    color: var(--text-color);
    background-color: #e2e0e0;
    width: 100%;
    margin-top: 10px;
}

.btn.btn-primary-needhelp:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.auth-form__another-form {
    margin-top: 20px;
}

.auth-form__help {
    display: flex;
    justify-content: space-between;
}
.auth-form__help-left {
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.auth-form__input-checkbox {
    margin-right: 10px;
}

.auth-form__help-right {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1rem;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.auth-form__help-need-help {
    color: var(--text-color);
}

.auth-form__help-seperate {
    display: block;
    border-left: 1px solid #EAEAEA;
    margin: 0 16px 0;
    height: 22px;
}

.auth-form__policy-text {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-align: center;
}

.auth-form__policy-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 13px;
    padding: 0 12px;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.have-or-no-account {
    display: flex;
    justify-content: center;
    margin: 0 10px 10px 10px;
}

.btn.auth-form__control-back {
    background-color: #e2e0e0;
    font-weight: bold;
    margin-right: 10px;
}

.btn.auth-form__control-back:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn-primary {
    font-weight: bold;
    color: var(--text-color);
    background-color: #e2e0e0;
}

.btn.btn-primary:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    transition: 0.2s;
}             

.another-log-opt {
    background-color: #e2e0e0;
    padding-top: 7px;
}

.or {
    margin-left: 14px;
    display: flex;
    justify-content: center;
}

.auth-form__socials {
    background-color: #e2e0e0;
    padding: 9px 30px 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.auth-form__socials-facebook {
    border-radius: 5px;
    color: var(--black-color);
    background-color: var(--white-color);
}

.btn.auth-form__socials-facebook:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.auth-form__socials-google {
    border-radius: 5px;
    color: var(--black-color);
    background-color: var(--white-color);
}

.btn.auth-form__socials-google:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn--size-s {
    height: 32px;
    padding: 0 42px 0 9px;
}

.auth-form__socials-icon {
    font-size: 1.6rem;
}

.auth-form__socials-title {
    margin-left: 27px;
    font-size: 0.98rem;
}