/* PC */
@media screen and (min-width: 992px) {
    .header__title-mobile {
        display: none;
    }
    .menu-toggle {
        display: none;
    }
    .nav__menu {
        display: none;
    }
}

/* tablet & mobile */
@media screen and (max-width: 991px) {
    .main-wrap {
        display: flex;
        overflow: hidden;
    }

    .tab {
        display: none;
    }

    .wrap-mobile {
        display: flex;
        flex-wrap: wrap;
    }

    .production-item-moblie__mid {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .text-align__center {
        text-align: center;
        margin: 0 auto;
    }

    .center-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .production-item__desc {
        margin: 0 auto;
    }

    .production-item__outstanding {
        margin-top: 0;
    }

    .production-item__list-img{
        flex-wrap: wrap;
    }

    .footer-top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .footer-logo__title {
        margin-top: 20px;
        width: 500px;
    }

    .footer-info {
        margin: 0 auto;
    }

    .footer-info__heading {
        text-align: center;
    }
    .footer-info__desc {
        text-align: center;
    }

    .footer-middle {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-middle__contact {
        width: 50vh;
    }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header__title {
        display: none;
    }
    .product-list {
        padding: 0;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 280px 280px 280px;
        gap: 24px;
    }

    .footer-top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .footer-logo__title {
        margin-top: 20px;
        width: 500px;
    }

    .footer-info {
        margin: 0 auto;
    }

    .footer-info__heading {
        text-align: center;
    }
    .footer-info__desc {
        text-align: center;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    .header__title {
        display: none;
    }

    .address__log {
        display: none;
    }

    .contact__log {
        display: none;
    }

    .login__log {
        display: none;
    }

    .nav__list {
        display: none;
    }

    .product-list {
        padding: 0;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 280px 280px;
        gap: 24px;
    }
}
