* {
  padding: 0;
  margin: 0;
  font-family: "UTM Avo", sans-serif;
}
@font-face {
  font-family: "UTM Avo"; /* Đặt tên cho font chữ */
  src: url("../assets/font/font-utm") format("woff2"); /* Đường dẫn đến file font chữ và định dạng */
  /* Các thuộc tính khác như font-weight và font-style (nếu cần) */
}
:root {
  --secondary-color: #000;
  --border-color: #e1e1e1;
  --primary-color: #ef5024;
  --text-mini: #999999;
}

.header-top {
  padding: 7px 0 2px 0;
  border-bottom: solid var(--border-color) 0.8px;
}
.container {
  overflow: hidden;
  padding: 0 20px;
  width: 1190px;
  margin: 0 auto;
  font-size: 12px;
  max-width: calc(100% - 48px);
}
.header-left {
  float: left;
}
.welcome-msg {
  padding: 11px 0;
  color: var(--secondary-color);
}
.header-right {
  float: right;
}
.contact {
  display: inline-block;
  padding: 11px 0;
  margin-right: 16px;
  text-decoration: none;
  color: var(--secondary-color);
}
.icon-header {
  width: 20px;
  padding-right: 5px;
  transform: translateY(18%);
}
/* end header-top */
.container-header-middle {
  display: flex;
  padding: 0 20px;
  width: 1190px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
.header-middle {
  padding: 29px 0;
  max-width: calc(100% - 48px);
}
.header-middle-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searching {
  margin-left: 80px;
  width: 480px;
  height: 40px;
  border: solid 0.8px var(--border-color);
  border-radius: 5px;
  padding: 0 50px 0 15.5px;
}
input:focus {
  outline: none;
}
input::placeholder {
  /*làm chữ tìm kiếm mất đi từ từ     */
  color: #aaa;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}
input:focus::placeholder {
  opacity: 0;
}
.icon-search {
  transform: translateX(-150%);
}
.header-middle-right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-header-right {
  display: flex;
  text-decoration: none;
  color: var(--secondary-color);
  align-items: center;
  margin: 0 8px;
}

.icon-box-header {
  margin-bottom: 0.4rem;
  font-size: 11px;
}

.khong-xuong-dong {
  width: 60px !important;
}
.phone-number {
  font-weight: 1000;
}
.divider {
  border-left: 1px solid var(--border-color); /* Tạo thanh dọc */
  height: 25px;
  margin: 0 5px;
  display: inline-block;
}
.container-header-bottom {
  display: flex;
  padding: 0 20px;
  width: 1190px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  max-width: calc(100% - 48px);
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.menu > li {
  cursor: pointer;
  font-weight: 650;
  line-height: 39px;
  transition: color 0.25s;
  font-size: 0.9rem;
}
.header-bottom {
  border-bottom: solid var(--border-color) 0.8px;
  max-width: calc(100% - 48px);
}
.menu > li:hover {
  color: var(--primary-color);
}
.hover-orange {
  transition: color 0.25s;
}
.hover-orange:hover {
  color: var(--primary-color);
}
/*body...*/

/*footer*/
.footer {
  background-color: #333;
}
.container-footer {
  padding: 0 20px;
  width: 1190px;
  margin: 0 auto;
}
/*footer-top*/
.item-footer-top {
  display: flex;
  padding: 40px 0;
  border-bottom: solid 0.5px var(--border-color);
}
.logo-text-footer {
  width: 32%;
  margin-right: 26px;
}
.logo-text-footer > p {
  color: #fff;
  font-size: 17.5px;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 20px;
}
.title-footer {
  color: #fff;
}
.text-mini-footer {
  color: var(--text-mini);
  font-size: 12px;
}
.contact-footer-top {
  display: flex;
  padding-left: 0px;
  width: 100%;
  align-items: center;
}

.form-footer-top > input {
  height: 30px;
  width: 180px;
  padding: 8.5px 20px;
  border-radius: 5px;
  border: solid 0.8px var(--border-color);
  font-size: 12px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.container-footer-top-right {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.call-me {
  cursor: pointer;
  height: 48.5px;
  width: 200px;
  border-radius: 5px;
  border: solid 2px var(--border-color);
  background-color: #fff;
  font-weight: 600;
  margin-left: 5px;
  transition: border 0.5s ease;
}
.call-me:hover {
  border: solid 2px var(--primary-color);
}
.footer-bottom {
  width: 100%;
  background-color: #333;
  padding: 30px 0;
}
/*footer-bottom*/
.row-footer-bottom {
  display: flex;
}
.col-footer-bottom {
  width: 25%;
  color: #fff;
  padding: 0 10px;
}
.item-footer-bottom {
  color: var(--text-mini) !important;
  margin-bottom: 15px;
  font-size: 13px;
}
.list-footer-bottom {
  list-style: none;
  padding-top: 8px;
}
.info-bottom-title {
  font-size: 17px;
  padding: 6px 0;
}
.a-of-li {
  text-decoration: none;
}
.item-footer-bottom:hover {
  color: #fff !important;
}

/* css body */
.top-body {
  background-image: url(../image/baner-ngang-dm-sofa-go.jpg);
  height: 250px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 21px;
  text-transform: uppercase;
}
.page-title {
  font-weight: 700;
  font-style: italic;
}
.page-content {
  width: 1190px;
  margin: 0 auto;
}

.toolbox-container {
  padding: 15px 2px 15px 2px;
}
.toolbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter {
  display: inline-block;
  padding: 8px 12px;
  border: solid 2px var(--primary-color);
  color: var(--primary-color);
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  transition: background-color 0.3s ease-out;
  transition: color 0.3s ease-out;
  margin-right: 5px;
}
.filter:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.select-filter {
  border: solid 0.8px var(--border-color);
  padding: 8.5px 14px;
  color: #454444;
}
label {
  margin-right: 5px;
  font-weight: bold;
  color: #555;
}

select {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

select:hover {
  border-color: #999;
}

/* css product */
.contaner-product {
  display: grid;
  width: 1190px;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Tạo 4 cột bằng cách lặp lại 1fr 4 lần */
  grid-template-rows: repeat(
    2,
    1fr
  ); /* Tạo 2 hàng bằng cách lặp lại 1fr 2 lần */
  gap: 20px; /* Khoảng cách giữa các sản phẩm */
}
.box-product {
  position: relative;
}
.product {
  /* border: solid 1px var(--border-color); */
  display: block;
  text-decoration: none;
  color: #000;
}
.add-bag {
  position: absolute;
  display: none;
  top: 150px;
  width: 100%;
  height: 38px;
  background-color: var(--primary-color);
  line-height: 38px;
  text-align: center;
  color: #fff;
}
.box-product:hover > .add-bag {
  display: block;
}
.product > img {
  max-width: 100%;
}
.product-detail {
  padding: 18px 5px 15px 5px;
}
.product-name {
  margin-bottom: 5px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 100;
  font-size: 18px;
}
.product-price {
  margin-bottom: 5px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12.5px;
}
.box-button-xemthem {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
.view-more {
  cursor: pointer;
  height: 100%;
  padding: 15px 30px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 3px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

/* css for phân trang */

.listPage {
  padding: 10px;
  text-align: center;
  list-style: none;
}

.listPage li {
  background: #ccc;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  margin: 0 10px;
}

.listPage .active {
  background: var(--primary-color);
  color: #fff;
}
.toolbox-left {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
