html {
    font-size: 62.5%;
    line-height: 1.6;
    font-size-adjust: 100%;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'utm_avo', sans-serif;
    font-size: 1.4rem;

    color: #666;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
strong {
    font-family: 'utm_avo', sans-serif;
    color: #000;
}

a,
li,
input,
button,
div {
    font-family: 'utm_avo', sans-serif;
    text-decoration: none;
}

a {
    color: inherit;
}

div {
    display: block;
}

/* HEADER */
.header {
    letter-spacing: -.025em;
    background-color: #ffffff;
    display: block;
}

.header-left {
    flex: 1;
}

.header-top {
    border-bottom: 1px solid #e1e1e1;
    font-size: 1.2rem;
    letter-spacing: -.025em;
    padding: 0.7rem 0 0.2rem;
    display: flex;
}

.header-top .contact i {
    margin-right: 0.7rem;
    font-size: 1.7rem;
    margin-top: 0.1rem;
}

.header-top .header-left {
    font-size: 1.2rem;
    flex: 1;
    list-style: none;
}

.header-top .header-right {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    margin-left: auto;
}

.header-right a {
    display: flex;
    align-items: center;
    color: black;
}

.header-right .contact {
    margin-right: 2px;
    line-height: 1;
}

.header-right .help {
    margin-left: 23px;
}

.icon-info,
.icon-map,
.icon-user {
    display: inline-block;
    margin-top: 1px;
    margin-right: 7px;
}

.d-lg-show:hover{
    fill: #ef5104;
    color: #ef5104;
}
.login-linkk {
    margin-left: 2.3rem;
}

.header-left,
.header-right,
.header-center {
    display: flex;
    align-items: center;
    font-weight: 400;
    white-space-collapse: collapse;
}

.welcome-msg {
    padding: 1.1rem 0;
    text-wrap: nowrap;
    letter-spacing: -.0125em;
    line-height: 1.5;
    margin: 0px;
}

.header-middle {
    display: flex;
    padding-top: 2.9rem;
    padding-bottom: 2.9rem;
    color: #222;
    background: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: space-between;
}

.header-middle .container {
    height: 47px;
}

.header-middle .header-left {
    flex: 1;
}

.header-middle .header-right {
    align-items: center;
    width: auto;
}

.logo {
    align-items: center;
}

.header-search {
    flex: 1;
    width: 100%;
    margin-left: 18px;
    margin-right: 2rem;
    max-width: 521px;
    height: 45px;
    position: relative;
}

.header-search .input-wrapper {
    height: 45px;
    display: flex;
    position: relative;
}

.input-search {
    display: block;
    width: 100%;
    min-height: 45px;
    padding: 0 5rem 0 1.55rem;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    color: #666;
    border: 1px solid #cacaca;
    border-radius: 5px;
    background-color: transparent;
    outline: 0;
}

.btn-search {
    height: 90%;
    align-items: flex-start;
    background-color: #fff;
    border: none;
    outline: none;
    position: absolute;
    right: 2px;
    top: 4px;
}

.icon-search {
    display: inline-block;
    margin: 0 0.7rem 0.2rem 0;
}


.icon-box {
    margin-right: 1.8rem;
    padding-bottom: 0.1rem;
    height: 36px;
    justify-content: center;
}

.icon-box-icon {
    margin-right: 15px;
}

.icon-phone {
    display: inline-block;
    width: 30px;
    height: 33px;
}

.icon-box-content {
    text-align: left;
    height: 35px;
    font-style: normal;
    font-size: 11px;
    font-weight: 300;
}

.icon-box-title {
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 11px;
    line-height: 1;
}

.header-middle p {
    font-size: 1.4rem;
    font-weight: 700;
    color: #222;
    letter-spacing: -.0428em;
    line-height: 1;
    margin: 0;
}

.divider {
    background-color: #e1e1e1;
    margin-right: 15px;
    height: 25px;
    width: 1px;
}

.wishlist {
    margin-right: 15px;
    position: relative;
}

.icon-heart {
    width: 27.65px;
    height: 31.2px;
}

.wishlist-count {
    background-color: #ef5204;
    width: 19px;
    height: 19px;
    position: absolute;
    right: -8px;
    top: -5px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    margin-right: 10px;
    height: 47px;
    justify-content: center;
}

.cart-toggle {
    padding-top: 6px;
    padding-bottom: 7px;
    align-items: center;
}

.cart-lable {
    display: block;
    margin-right: 10px;
    height: 30px;
    cursor: pointer;
    text-align: left;
    letter-spacing: -.05em;
    text-transform: capitalize;
}

.cart-name {
    display: block;
    margin-bottom: 5px;
    line-height: 11px;
    font-size: 11px;
}

.cart-price {
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    height: 14px;
    line-height: 10px;
}

.icon-cart {
    display: block;
    height: 34px;
    width: 35px;
}

.cart-count {
    position: absolute;
    right: -8px;
    top: 3px;
    width: 19px;
    height: 19px;
    font-size: 12px;
    line-height: 1.7;
    text-align: center;
    border-radius: 50%;
    background-color: #ef5204;
    color: #fff;
}

.header-bottom {
    display: flex;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -5px;
    padding: 7px 0;
}

.header-left .menu>li>a {
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    color: #333;
}

ul,
li {
    list-style-type: none;
}

.menu>.submenu>a {
    z-index: 1001;
}

.menu .submenu>a {
    position: relative;
    display: inline-block;
}

.submenu {
    margin-right: 15px;
}

/* MAIN */
.main {
    background: #ffffff;
}

.page-header {
    background-image: url(../img/baner-ngang-dm-sofa-go.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.page-title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.125;
    color: #fff;
    font-style: italic;
}

.toolbox-wrap {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    width: 1180px;
}

.toolbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 2px 10px;
}

.active-filter {
    display: flex;
    flex-wrap: wrap;

}

.icon-filter {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

.page-content {
    display: grid;
    width: 1190px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.product {
    position: relative;
}

.product-media {
    margin: 0;
    position: relative;
}

.text-center {
    text-align: center;
}

.product-media img {
    display: block;
}

.product-action {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    z-index: 10;
    transition: opacity .3s, visibility .3s;
    opacity: 0;
}

.btn-product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 12px 0;
    background-color: #ef5204;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.025em;
    text-transform: uppercase;
    transition: opacity .3s;
}

.product-details {
    position: relative;
    padding: 18px 5px 15px 5px;
}

.product-name {
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0.3rem;
    letter-spacing: -.01em;
    color: #666;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.3rem;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.86;
    color: #222;
}

.product-price span {
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}




/* CHI TIẾT SẢN PHẨM */
.product-single {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 40px -10px;
    width: 100%;
}

.product-left {
    width: 50%;
}

.product-right {
    width: 50%;
    padding-left: 10px;
}

.default {
    width: calc(100%);
    float: left;
}

.slides-detail__top {
    position: relative;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slides-detail__top .image {
    width: 100%;
}

.slides-detail__top .image img {
    width: 100%;
    overflow: hidden;
}

.slides-detail__top .button {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.slides-detail__top .button a {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    align-items: center;
    color: #ef5104;
    cursor: pointer;
    font-size: 30px;
}

.slides-detail__bottom {
    display: flex;
    justify-content: space-between;
}

.slides-detail__bottom .item {
    width: 23%;
    float: left;
}

.slides-detail__bottom .item img {
    width: 100%;
}


.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 16px;
    margin: 0;
    padding-left: 0;
    align-items: center;
    color: #666;
}

.breadcrumb li:not(:last-child)::after {
    content: '\f105';
    position: relative;
    margin: 0 0.6em;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #999;
}

.sticky-sidebar {
    position: relative;
    padding-left: 10px;
    padding-bottom: 30px;
}

.product-single .product-name {
    margin-bottom: 6px;
    padding-left: 0;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -.025em;
    white-space: normal;
    color: #222;
}

.product-meta {
    margin-bottom: 1.8rem;
    color: #999;
    font-size: 1.2rem;
}

.product-single .product-price {
    display: block;
    margin-bottom: 1.1rem;
    color: #fec348;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -.025em;
    line-height: 1;
}

.product-price .price-new {
    font-size: 24px;
    color: #fd3003;
    text-shadow: 0 0 black;
}

.product-form-group {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;
}

.input-group {
    display: inline-flex;
    width: 110px;
    height: 45px;
    margin-right: 10px;
}

.input-group button {
    padding: 0;
    width: 31px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #222;
    background-color: transparent;
    cursor: pointer;
}

.input-group .form-control {
    flex: 1;
    padding: 0;
    height: inherit;
    font-size: 1.4rem;
    border: solid #ccc;
    border-width: 1px 0;
    color: #222;
    text-align: center;
}

.input-group .form-control {
    display: block;
    width: 100%;
    min-height: 4.5rem;
    border: 1px solid #e3e3e3;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    color: #666;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
}

.product-form .btn-cart {
    border: 0;
    flex: 1;
    min-width: 13rem;
    font-size: 1.4rem;
    border-radius: 0.3rem;
    background-color: #ef5204;
    color: #fff;
    cursor: pointer;
    max-width: 20.7rem;
    height: 4.5rem;
}

.product-single .product-action {
    display: inline-block;
    position: relative;
    opacity: 1;
    visibility: visible;
}

.product-single .btn-wishlist,
.product-single .btn-compare {
    display: inline-block;
    padding: 15px 0;
    font-weight: 400;
    font-size: 14px;
    background-color: transparent;
    transition: color .3s;
    text-transform: none;
    color: #666;
}

.minus-btn,
.plus-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}


/* FOOTER */
.footer {
    padding: 15px;
    font-size: 13px;
    background-color: #222;
}

.logo {
    display: block;
    height: 30px;
    width: auto;
    max-width: 200px;
    margin-bottom: 0.1rem;
    margin-right: 2rem;
}

.footer-top {
    border-bottom: 1px solid #999;
    padding: 40px 0;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.align-item-center {
    align-items: center;
}

@media (min-width: 992px) {
    .col-lg-3 {
        max-width: 25%;
        flex: 0 0 25%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .col-lg-9 {
        width: 75%;
        flex: 0 0 75%;
        height: 49px;
    }
}

.logo-footer,
.logo-footer img {
    display: block;
}

.logo-footer img {
    width: 90%;
}

img {
    max-width: 100%;
    height: auto;
}

.footer-top .widget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 49px;
}

.widget-newsletter .newsletter-info {
    max-width: 350px;
    width: 100%;
    height: 49px;
    margin-left: 20px;
    margin-right: 10px;
}

.widget-newsletter p {
    color: #999;
    margin-top: 0;
    margin-bottom: 1px;
    font-size: 12px;
}

.widget-newsletter .widget-title {
    font-weight: bold;
}

.widget-newsletter .widget-title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -.015em;
    text-transform: inherit;
    line-height: 1;
    color: #fff;
}

.widget-newsletter .input-wrapper {
    max-width: 480px;
}

.widget.widget-newsletter form {
    flex: 1 1 0;
    height: 49px;
}

.input-wrapper {
    height: 49px;
    position: relative;
    display: flex;
}

.form-control {
    display: block;
    min-width: 40px;
    font-size: 12px;
    padding: 8.5px 20px;
    height: 49px;
    border: none;
    border-radius: 3px;
}

.widget-newsletter .btn-primary {
    color: #333;
    flex: 1;
    max-width: 190px;
    padding: 15.6px 17.29px 13.91px;
    margin-left: 10px;
    align-items: flex-start;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

.form-control::-webkit-inner-spin-button,
.form-control::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.right-arrow {
    margin-top: -8px;
    margin-left: 6px;
}

.footer-middle {
    padding-top: 30px;
    height: 415px;
    border-bottom: 1px solid #333;
}

.footer-middle .row {
    display: flex;
}

.footer-middle .widget {
    margin-top: 4px;
    margin-bottom: 30px;
}

.footer-middle .widget-title {
    font-weight: bold;
    padding: 6px 0;
    margin-top: 0;
    margin-bottom: 9px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #e1e1e1;
}

.footer-middle .widget-body {
    padding: 8px 0 0;
    color: #999;
    margin: 0;
}

.footer-middle .widget-body li {
    line-height: 1.2;
    margin-bottom: 0px;
}

.footer-left li {
    width: 100%;
    float: left;
    margin-bottom: 0px;
    padding: 0;
    margin: 0;
}

.footer-left li label {
    color: #e1e1e1;
    font-size: 14px;
    margin-top: 10px;
    float: left;
}

.footer-middle .ml-lg-4 {
    margin-left: 20px;
}

.footer-middle li a {
    color: #999;
}

.footer-left li:first-child label {
    margin-top: 0px;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }

    .product-left {
        width: 100%;
    }

    .product-right {
        width: 100%;
    }

    .footer-top .col-lg-3 {
        width: 100%;
    }

    .footer-top .col-lg-9 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .footer-top{
        flex: 1;
        align-items: center;
        justify-content: center;
    }
    
    .footer-top .col-lg-3 {
        width: 100%;
    }

    .footer-top .col-lg-9 {
        width: 100%;
    }  
}

@media (max-width: 991px) {
    .footer-top .logo-footer img {
        width: 270px;
    }
    .row>* {
        position: relative;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .footer-middle .col-md-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}