* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1205px;
    margin: 0 auto;

}

body {
    background-color: #f2f3f4;

    .shopBag {

        .header_bag {
            line-height: 20px;

            .title_bag {
                display: flex;
                padding: 20px 0;
                align-items: center;

                button {
                    margin-left: 10px;
                    border: none;
                    font-weight: 700;
                    background: white;
                    padding: 10px 20px;
                    border-radius: 5px;
                }
            }

        }

        .productBag {
            display: flex;

            .show_product {
                background-color: white;
                width: 100%;


                .chat_with {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 20px 20px 10px 0;
                    span{
                        margin-left: 10px
                    }
                }

                .yr_product {
                    padding: 5px 20px;
                    display: flex;
                    align-items: flex-start;

                    .check_product {

                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 15%;
                        margin-right: 10px;
                        input{
                            width: 50%;
                        }
                        img {
                            object-fit: contain;
                            height: 100%;
                            width: 80%;
                            border-radius: 5px;
                        }
                    }

                    .content_package {
                        width: 30%;

                        .shipping_method {

                            color: green;

                            border-radius: 10px;
                            padding: 6px 8px;
                            background-color: #eaf6ee;

                        }

                        .type_product {
                            border: 1px solid #b7bbbf;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 5px 10px;
                            border-radius: 5px;
                        }

                        .name_product {
                            margin: 10px 0;

                            a {
                                text-decoration: none;
                                color: black;

                            }
                        }



                        .icon_bag {
                            .icon_heart {
                                margin-right: 15px;
                            }
                        }

                    }
                    .price_product {
                        width: 25%;
                        text-align: right;
    
                        p {
                            font-size: 20px;
                            font-weight: 700;
                        }
                        span {
                            text-decoration: line-through;
                            font-size: 14px;
                            color: #b7bbbf;
                        }
                    }
    
                    .decideBag{
                        
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;

                        .quantity_product {
                            width: 70%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
        
                            input {
        
                                width: 40px;
                                height: 30px;
                                text-align: center;
                                margin: 10px;
                                font-weight: 600;
        
                            }
        
                        }
        
                        .icon_bag {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            width: 30%;
                        }
        
        
                    }
                    
                }
                
            }

            .shop_discount {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px 20px;;

                span {
                    margin: 0 10px
                }
            }

        }

        .yr_total {
            
            width: 30%;
            margin-left: 17px;

            .yr_endow {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                background-color: white;

                .icon_discountShop {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    span{
                        margin-left: 10px
                    }
                }


                .code {
                    color: #007aff;
                    cursor: pointer;
                }

            }

            .yr_bill {
                padding: 10px;
background-color: white;
                .total_bill {
                    display: flex;
                    justify-content: space-between;

                    line-height: 2.2rem;

                    .money {
                        font-weight: bold;
                        font-size: 20px;
                        color: black;

                    }
                }

                .bnt_total {
                    button {
                        padding: 14px;
                        background: #ee2624;
                        border: #ee2624;
                        width: 100%;
                    }

                }
            }
        }
    }
}
